<table class='table'>
  <tr>
    <td><%= image_tag user.get_profile_image, size:'100x100' %></td>
  </tr>
  <tr>
    <th>name</th>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <th>introduction</th>
    <td><%= user.introduction %></td>
  </tr>
  <tr>
    <th>Follows</th>
    <td>
      <%= link_to follows_user_path(user) do %>
        <h6><%= user.followers.count %></h6>
      <% end %> 
    </td>
  </tr>
  <tr>  
    <th>Followers</th>
    <td>  
      <%= link_to followers_user_path(user) do %>
        <h6><%= user.followeds.count %></h6>
      <% end %>
    </td>
  </tr> 
  <tr>
    <td>
      <%= render 'relationships/btn2', user: user %>
    </td>
  </tr>
</table>

<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>
